:root {
  /*page colors here */
  --white: #F4F7F2;
  --gray: #D3D4D9;
  --lightgreen: #BFC9C1;
  --darkgreen: #5A774A;
}

body {
  font-family: 'Heebo', sans-serif;
}

/********************** NAV BAR *********************/

.nav-container {
  grid-row: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.nav-item {
  display: inline;
  float: right;
}

.nav-item a {
  padding: 0px 30px 0px 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--lightgreen);
  text-shadow: 1px 1px black;
}

.nav-item a:hover {
  color: var(--darkgreen);
}

/********************** ABOUT PAGE ******************/
.heading {
  text-align: center;
  color: white;
  font-size: 200%;
  text-shadow: 1px 1px black;
  background-image: url("../img/bridge4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.heading h1 {
  margin: 9% 5% 5% 5%;
}

.MainContent {
  position: absolute;
  display: grid;
  grid-template-columns: 25% auto 25%;
  top: 500px;
}

.menu {
  grid-column: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.links {
  list-style-type: none;
}

.links a {
  text-decoration: none;
  color: var(--darkgreen);
}

.links a:hover {
  color: var(--lightgreen);
}

.links a:visited {
  text-decoration: none;
}

.links a:active {
  text-decoration: none;
}

.links li {
  padding: 2%;
  font-size: 150%;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.about-text {
  grid-column: 2;
  font-size: 150%;
}

/***** BUTTON STYLE******/
.plan {
  padding: 2%;
  font-size: 130%;
  border-radius: 4%;
  background-color: var(--lightgreen);
  box-shadow: 0 3px 6px 0, 0 3px 6px 0 rgb(0, 0, 0, 0.1);
}

.plan:hover {
  box-shadow: 0 6px 12px 0, 0 6px 12px 0 rgb(0, 0, 0, 0.2);
}

.plan:focus {
  outline: 0;
}

/******************** FOOTER *********************/
.footer {
  grid-column: span 3;
  width: 100%;
  color: black;
  text-align: center;
  line-height: 0.5;
  opacity: 0.6;
  margin-top: 1%;
}

/******* MEDIA QUERIES *******/

/* if viewed on a macbook air*/
@media screen and (min-width: 1367px) and (max-width: 1500px) {

  /* NAV BAR */
  .nav-item a {
    padding: 0px 15px 0px 15px;
    font-size: 22px;
  }

  /* FOOTER */
  .footer {
    margin-top: 5%;
  }

  .heading {
    font-size: 170%;
  }

  .about-text {
    font-size: 140%;
  }
}

/* if viewed on an iPad Pro*/
@media screen and (min-width: 1025px) and (max-width: 1366px) {

  /* NAV BAR */
  .nav-item a {
    padding: 0px 15px 0px 15px;
    font-size: 20px;
  }

  /* FOOTER */
  .footer {
    margin-top: 5%;
  }

  .heading {
    font-size: 170%;
  }

  .about-text {
    font-size: 140%;
  }
}
