:root {
  /*page colors here */
  --white: #F4F7F2;
  --gray: #D3D4D9;
  --lightgreen: #BFC9C1;
  --darkgreen: #5A774A;
}

body {
  font-family: 'Heebo', sans-serif;
  display: grid;
  grid-template-rows: 3;
}

/********************** NAV BAR *********************/

.nav-container {
  grid-row: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.nav-item {
  display: inline;
  float: right;
}

.nav-item a {
  padding: 0px 30px 0px 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--darkgreen);
  text-shadow: 1px 1px black;
}

.nav-item a:hover {
  color: white;
}

/******************** FOOTER *********************/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  line-height: 0.5;
  opacity: 0.6;
}

.links {
  padding: 5px;
}

/***************** LANDING PAGE *****************/

/* BACKGROUND IMG */
.container img {
  max-width: 100%;
  position: absolute;
  background-size: cover;
  top: -10%;
  right: 0;
  z-index: -1;
  opacity: 0.3;
}

/* INTRO TITLE */
.container .banner h1 {
  margin-top: 7vw;
  margin-bottom: 0;
  text-align: center;
  color: var(--darkgreen);
  text-shadow: 2px 2px black;
  font-size: 500%;
}

.container .banner h2 {
  margin-top: 0.5vw;
  text-align: center;
  color: var(--darkgreen);
  text-shadow: 1px 1px black;
  font-size: 230%;
}

/* LOGO */
.container .banner img {
  display: block;
  position: relative;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  width: 25%;
  border-radius: 50%;
}

/* MISSION STATEMENT */
.mission-statement {
  text-align: center;
  font-size: 170%;
  color: var(--darkgreen);
  border-radius: 70%;
  margin: 4% 20% 0 20%;
  background-color: var(--white);
  line-height: 1.4;
}

/******* MEDIA QUERIES *******/

/* if viewed on a macbook air*/
@media screen and (min-width: 1367px) and (max-width: 1500px) {

  /* NAV BAR */
  .nav-item a {
    padding: 0px 15px 0px 15px;
    font-size: 22px;
  }

  /* FOOTER */
  .footer {
    margin-top: 5%;
  }

  /* BACKGROUND IMG */
  .container img {
    top: 0;
  }

  /* INTRO TITLE */
  .container .banner h1 {
    margin-top: 6vw;
    font-size: 400%;
  }

  .container .banner h2 {
    margin-top: 0.5vw;
    font-size: 200%;
  }

  /* MISSION STATEMENT */
  .mission-statement {
    font-size: 170%;
    margin: 4% 15% 0 15%;
    line-height: 1.5;
  }
}

/* if viewed on an iPad Pro*/
@media screen and (min-width: 1025px) and (max-width: 1366px) {

  /* NAV BAR */
  .nav-item a {
    padding: 0px 15px 0px 15px;
    font-size: 20px;
  }

  /* FOOTER */
  .footer {
    margin-top: 5%;
  }

  /* BACKGROUND IMG */
  .container img {
    top: 0;
  }

  /* INTRO TITLE */
  .container .banner h1 {
    margin-top: 6vw;
    font-size: 360%;
  }

  .container .banner h2 {
    margin-top: 0.5vw;
    font-size: 200%;
  }

  /* MISSION STATEMENT */
  .mission-statement {
    font-size: 160%;
    margin: 4% 15% 0 15%;
    line-height: 1.5;
  }
}

/* if viewed on an iPad */
@media screen and (min-width: 901px) and (max-width: 1024px) {

  /* NAV BAR */
  .nav-item a {
    padding: 0px 15px 0px 15px;
    font-size: 15px;
  }

  /* BACKGROUND IMG */
  .container img {
    top: 0;
  }

  /* INTRO TITLE */
  .container .banner h1 {
    margin-top: 6vw;
    font-size: 300%;
    text-shadow: 1px 1px black;
  }

  .container .banner h2 {
    margin-top: 0.5vw;
    font-size: 150%;
  }

  /* MISSION STATEMENT */
  .mission-statement {
    font-size: 130%;
    margin: 4% 12% 0 12%;
    line-height: 1.4;
  }
}

/* if viewed on an iPhone X or Pixel 2 XL*/
@media screen and (min-width: 737px) and (max-width: 900px) {

  /* NAV BAR */
  .nav-item a {
    padding: 0px 15px 0px 15px;
    font-size: 11px;
  }

  /* FOOTER */
  .footer {
    margin-top: 3%;
    font-size: 80%;
  }

  /* BACKGROUND IMG */
  .container img {
    top: 0;
  }

  /* INTRO TITLE */
  .container .banner h1 {
    margin-top: 6vw;
    font-size: 200%;
    text-shadow: 1px 1px black;
  }

  .container .banner h2 {
    margin-top: 0.5vw;
    font-size: 110%;
  }

  /* MISSION STATEMENT */
  .mission-statement {
    font-size: 100%;
    margin: 4% 12% 0 12%;
    line-height: 1.4;
  }
}

/* if viewed on an iPhone 6/7/8 Plus */
@media screen and (min-width: 668px) and (max-width: 736px) {

  /* NAV BAR */
  .nav-item a {
    padding: 0px 13px 0px 13px;
    font-size: 11px;
  }

  /* FOOTER */
  .footer {
    font-size: 70%;
  }

  /* BACKGROUND IMG */
  .container img {
    top: 0;
  }

  /* INTRO TITLE */
  .container .banner h1 {
    margin-top: 6vw;
    font-size: 200%;
    text-shadow: 1px 1px black;
  }

  .container .banner h2 {
    margin-top: 0.5vw;
    font-size: 110%;
  }

  /* MISSION STATEMENT */
  .mission-statement {
    font-size: 90%;
    margin: 4% 12% 0 12%;
    line-height: 1.4;
  }
}

/* if viewed on an iPhone 6/7/8 */
@media screen and (min-width: 569px) and (max-width: 667px) {

  /* NAV BAR */
  .nav-item a {
    text-shadow: none;
    padding: 0px 13px 0px 13px;
    font-size: 11px;
  }

  /* FOOTER */
  .footer {
    font-size: 60%;
  }

  /* BACKGROUND IMG */
  .container img {
    top: 0;
  }

  /* INTRO TITLE */
  .container .banner h1 {
    margin-top: 6vw;
    font-size: 200%;
    text-shadow: 1px 1px black;
  }

  .container .banner h2 {
    margin-top: 0.5vw;
    font-size: 110%;
  }

  /* MISSION STATEMENT */
  .mission-statement {
    font-size: 80%;
    margin: 4% 12% 0 12%;
    line-height: 1.4;
  }
}

/* if viewed on an iPhone 5/SE */
@media screen and (min-width: 414px) and (max-width: 568px) {

  /* NAV BAR */
  .nav-item a {
    text-shadow: none;
    padding: 0px 10px 0px 10px;
    font-size: 10px;
  }

  /* FOOTER */
  .footer {
    font-size: 50%;
  }

  /* BACKGROUND IMG */
  .container img {
    top: 0;
  }

  /* INTRO TITLE */
  .container .banner h1 {
    margin-top: 6vw;
    font-size: 160%;
    text-shadow: 1px 1px black;
  }

  .container .banner h2 {
    margin-top: 0.5vw;
    font-size: 90%;
  }

  /* MISSION STATEMENT */
  .mission-statement {
    font-size: 70%;
    margin: 4% 12% 0 12%;
    line-height: 1.4;
  }
}
