:root {
  /*page colors here */
  --white: #F4F7F2;
  --gray: #D3D4D9;
  --lightgreen: #BFC9C1;
  --darkgreen: #5A774A;
}

body {
  font-family: 'Heebo', sans-serif;
  display: grid;
  grid-template-rows: 3;
}

/********************** NAV BAR *********************/

.nav-container {
  grid-row: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.2);
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.nav-item {
  display: inline;
  float: right;
}

.nav-item a {
  padding: 0px 30px 0px 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--darkgreen);
  text-shadow: 1px 1px black;
}

.nav-item a:hover {
  color: white;
}

/******************** FOOTER *********************/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.copyright {
  opacity: 0.6;
}

/***************** LANDING PAGE *****************/
.container {

}

/* BACKGROUND IMG */
.container img {
  max-width: 100%;
  position: absolute;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
}

/* INTRO TITLE */
.container .banner h1 {
  margin-top: 5vw;
  margin-bottom: 0;
  text-align: center;
  color: var(--darkgreen);
  text-shadow: 2px 2px black;
  font-size: 500%;
}

.container .banner h2 {
  margin-top: 0.5vw;
  text-align: center;
  color: var(--darkgreen);
  text-shadow: 1px 1px black;
  font-size: 200%;
}

/* LOGO */
.container .banner img {
  position: absolute;
  left: 50px;
  top: 300px;
  opacity: 1;
  max-height: 350px;
  border-radius: 50%;
}

/* ALBUM */
.container .album {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 4;
}

/* First item */
.container .album .activity1 {
  grid-row: 1;
  grid-column: 3;
}

.container .album .activity1 img {
  position: relative;
  opacity: 1;
  display: block;
  margin: 10% auto 0 auto;
  border-radius: 5px;
  border: 10px solid white;
  max-height: 350px;
}

.container .album .activity1 h4 {
  font-size: 150%;
  color: var(--darkgreen);
  text-shadow: 1px 1px black;
  text-align: center;
}

/* Second item */
.container .album .activity2 {
  grid-row: 1;
  grid-column: 4;
}

.container .album .activity2 img {
  position: relative;
  opacity: 1;
  border-radius: 5px;
  border: 10px solid white;
  max-height: 320px;
  display: block;
  margin: 10% auto 0 auto;
}

.container .album .activity2 h4 {
  font-size: 150%;
  color: var(--darkgreen);
  text-shadow: 1px 1px black;
  text-align: center;
}

/* Third item */
.container .album .activity3 {
  grid-row: 2;
  grid-column: 4;
}

.container .album .activity3 img {
  position: relative;
  opacity: 1;
  border-radius: 5px;
  border: 10px solid white;
  max-height: 350px;
  display: block;
  margin: 10% auto 0 auto;
}

.container .album .activity3 h4 {
  font-size: 150%;
  color: var(--darkgreen);
  text-shadow: 1px 1px black;
  text-align: center;
}

.container .album .mission-statement {
  grid-row: 2;
  grid-column: 2/3;
  position: relative;;
  font-size: 10%;
  text-align: center;

}

/******* ABOUT PAGE ********/


/******* CONTACT PAGE *******/
