:root {
  /*page colors here */
  --white: #F4F7F2;
  --gray: #D3D4D9;
  --lightgreen: #BFC9C1;
  --darkgreen: #5A774A;
}

body {
  font-family: 'Heebo', sans-serif;
  display: grid;
  grid-template-rows: 3;
}

/********************** NAV BAR *********************/

.nav-container {
  grid-row: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.nav-item {
  display: inline;
  float: right;
}

.nav-item a {
  padding: 0px 30px 0px 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--darkgreen);
  text-shadow: 1px 1px black;
}

.nav-item a:hover {
  color: white;
}

/******************** FOOTER *********************/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  line-height: 0.5;
  opacity: 0.6;
}

/***************** LANDING PAGE *****************/
.container {

}

/* BACKGROUND IMG */
.container img {
  max-width: 100%;
  position: absolute;
  background-size: cover;
  top: -25%;
  right: 0;
  z-index: -1;
  opacity: 0.3;
  /* overflow: hidden; */
}

/* INTRO TITLE */
.container .banner h1 {
  margin-top: 7vw;
  margin-bottom: 0;
  text-align: center;
  color: var(--darkgreen);
  text-shadow: 2px 2px black;
  font-size: 500%;
}

.container .banner h2 {
  margin-top: 0.5vw;
  text-align: center;
  color: var(--darkgreen);
  text-shadow: 1px 1px black;
  font-size: 230%;
}

/* LOGO */
.container .banner img {
  display: block;
  position: relative;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  width: 15%;
  border-radius: 50%;
}

.mission-statement {
  text-align: center;
  font-size: 180%;
  color: var(--darkgreen);
  border-radius: 70%;
  margin: 4% 20% 0 20%;
  background-color: var(--white);
  line-height: 1.6;
}
